.categories {
    margin: 15px;
    font-family: 'Quicksand', sans-serif;
}

.categories h1 {
    font-size: 24px;
}

.scrolling-wrapper {
    margin: 5px;
    padding: 5px;
}

.card {
    display: inline-block;
    border: none;
    padding: 5px;
    margin-left: 10px;

}  

.card img {
    width: 85px;
    height: 70px;
    border-radius: 15px;
}

.card p {
    text-align: center;
}
  
@media only screen and (max-width: 600px) {

    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    
    .card {
        display: inline-block;
        border: none;

    } 
  }