* {
  font-family: "Quicksand", sans-serif;
}

.featureTitlesGeneral {
  margin: 5px;
  padding: 5px;
}

.featureTitles p {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 300;
}

.featureCardGeneral {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin: 5px;
    padding: 5px;

}

.featureCard {
  margin: 20px;
  display: inline-block;
  border: none;
  padding: 5px;
  margin-left: 10px;
}

.featureCard img {
  width: 100%;
}

.infoNameRecipe {
  font-size: 16px;
  font-weight: 700;
}

.infoGeneral {
  display: flex;
  justify-content: space-between;
}

.infoGeneral h4 {
    font-size: 14px;
  font-weight: 300;
}

.infoGeneral button {
  margin-right: 15px;
  border: none;
  background-color: white;
  color: orange;
}


@media screen and (min-width: 600px) {
  .featureCardGeneral {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}