.bar {
  font-family: "Quicksand", sans-serif;
  background-color: orange;
  box-shadow: 0 2px 5px rgb(133, 131, 131);
}

.containerNav img {
  width: 120px;
}

.buttonSearch {
  border: none;
  border-radius: 30px;
  box-shadow: 1px 1px 5px rgb(172, 172, 172);
  /* background-color: #ffa500; */
  width: 47px;
  height: 47px;
  position: relative;
  left: 47%;
  top: 2%;
}

.buttonAdd {
  border: 1px solid rgb(121, 120, 120);
  box-shadow: 1px 1px 5px rgb(172, 172, 172);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 80%;
  top: 85%;
  background-color: orange;
  color: white;
  border: none;
}

.buttonAdd p {
  display: none;
}

@media screen and (min-width: 600px) {
  .containerNav img {
    width: 150px;
    margin-left: 10%;
  }

  .buttonSearch {
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px 5px rgb(172, 172, 172);
    background-color: white;
    width: 50px;
    height: 50px;
    left: 57%;
    top: 2%;
  }

  .buttonAdd {
    border: 1px solid rgb(121, 120, 120);
    box-shadow: 1px 1px 5px rgb(172, 172, 172);
    border-radius: 30px;
    width: 200px;
    height: 50px;
    left: 83%;
    top: 2%;
    /* position: fixed; */
    background-color: white;
    color: #ffa500;
    border: none;
  }

  .buttonAdd i {
    padding: 5px;
  }

  .buttonAdd p {
    display: contents;
    color: black;
    padding: 5px;
    margin: 0;
  }
}
