.barNav {
  font-family: "Quicksand", sans-serif;
  background-color: orange;
  box-shadow: 0 2px 5px rgb(133, 131, 131);
}

.container img {
  width: 80px;
}

.buttonSearch {
  border: none;
  border-radius: 30px;
  box-shadow: 1px 1px 5px rgb(172, 172, 172);
  /* background-color: #ffa500; */
  width: 50px;
  height: 50px;
  position: relative;
  left: 60%;
  top: 2%;
}

.buttonAdd {
  border: 1px solid rgb(121, 120, 120);
  box-shadow: 1px 1px 5px rgb(172, 172, 172);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 80%;
  top: 85%;
  background-color: orange;
  color: white;
  border: none;
}

.buttonAdd p {
  display: none;
}

@media screen and (min-width: 600px) {
  .buttonSearch {
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px 5px rgb(172, 172, 172);
    background-color: white;
    width: 50px;
    height: 50px;
    left: 73%;
    top: 2%;
  }

  .buttonAdd {
    border: 1px solid rgb(121, 120, 120);
    box-shadow: 1px 1px 5px rgb(172, 172, 172);
    border-radius: 30px;
    width: 200px;
    height: 50px;
    left: 80%;
    top: 2%;
    position: fixed;
    background-color: white;
    color: orange;
    border: none;
  }

  .buttonAdd i {
    padding: 5px;
  }

  .buttonAdd p {
    display: contents;
    color: black;
    padding: 5px;
    margin: 0;
  }
}
