/* nav */

.barSearch {
  display: flex;
  align-items: center;
}

.barSearch h1 {
  position: relative;
  left: 20%;
}

.previus {
  border: 1px solid white;
  background-color: orange;
  color: white;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  margin: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 50px;
  margin: 15px;
  padding: 2px;
  width: 90%;
  height: 50px;
}

.container img {
  border-radius: 50px;
  margin-right: 15px;
  width: 60px;
}

.container h4 {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 600px) {
  .barSearch h1 {
    position: relative;
    left: 45%;
  }

  .previus {
    border: 1px solid white;
    background-color: orange;
    color: white;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    margin: 15px;
    margin-left: 135%;
  }
}
